<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WasteGone"
        tools:targetApi="31">
        <activity
            android:name=".gestioneEventiSensibilizzazione.application.activity.TasseActivity"
            android:exported="true" />
        <activity
            android:name=".gestioneEventiSensibilizzazione.application.activity.PagamentoTassaActivity"
            android:exported="true" />
        <activity
            android:name=".gestioneEventiSensibilizzazione.application.activity.PrenotazioneActivity"
            android:exported="true" />
        <activity
            android:name=".gestioneEventiSensibilizzazione.application.activity.SezioneEventiActivity"
            android:exported="true" />
        <activity
            android:name=".gestioneProfiloUtente.application.activity.NotificationManagementActivity"
            android:exported="true" />
        <activity
            android:name=".gestioneProfiloUtente.application.activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".gestioneProfiloUtente.application.activity.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".gestioneProfiloUtente.application.logic.NotificationLogic" />
    </application>

</manifest>